In [22]:
import pandas as pd

wrm_df = pd.read_csv("../data/processed_wrm_data.csv")
owa_df = pd.read_csv("../data/owa_processed_data.csv")

wrm_df['timestamp'] = pd.to_datetime(wrm_df['timestamp'])
owa_df['timestamp'] = pd.to_datetime(owa_df['timestamp'])

merged_df = pd.merge(wrm_df, owa_df, on="timestamp", how="left")

In [23]:
merged_df.isna().sum()

nan_rows = merged_df[merged_df[[
    "temperature", "feels_like", "pressure", "humidity",
    "dew_point", "clouds", "wind_speed", "wind_deg",
    "weather_main", "weather_description", "rain", "snow"
]].isna().any(axis=1)]

nan_rows[["timestamp"]].drop_duplicates().sort_values("timestamp")

                  timestamp
0       2025-11-19 11:25:00
240     2025-11-19 11:30:00
480     2025-11-19 11:35:00
720     2025-11-19 11:40:00
960     2025-11-19 11:45:00
1200    2025-11-19 11:50:00
1440    2025-11-19 11:55:00
15840   2025-11-19 16:55:00
86200   2025-11-20 17:20:00
118012  2025-11-21 04:20:00
118735  2025-11-21 04:35:00
149583  2025-11-21 15:15:00
341901  2025-11-24 12:20:00
377569  2025-11-25 00:40:00
496382  2025-11-26 17:45:00
646043  2025-11-28 21:30:00
646284  2025-11-28 21:35:00
646525  2025-11-28 21:40:00
646766  2025-11-28 21:45:00
987364  2025-12-03 19:30:00
989533  2025-12-03 20:15:00
1008572 2025-12-04 02:50:00
1010018 2025-12-04 03:20:00
1039661 2025-12-04 13:35:00
1041107 2025-12-04 14:05:00
1108346 2025-12-05 13:20:00
1129554 2025-12-05 20:40:00
1248608 2025-12-07 13:50:00
1317293 2025-12-08 13:35:00
1375374 2025-12-09 09:40:00
1375615 2025-12-09 09:45:00
1375856 2025-12-09 09:50:00
1376097 2025-12-09 09:55:00
1376338 2025-12-09 10:00:00
1378266 2025-12-09 10:40:00
1378507 2025-12-09 10:45:00
1381158 2025-12-09 11:40:00
1381399 2025-12-09 11:45:00
1381640 2025-12-09 11:50:00
1381881 2025-12-09 11:55:00
1382122 2025-12-09 12:00:00
1390557 2025-12-09 14:55:00
1390798 2025-12-09 15:00:00
1400679 2025-12-09 18:25:00
1400920 2025-12-09 18:30:00
1404294 2025-12-09 19:40:00
1405017 2025-12-09 19:55:00
1405258 2025-12-09 20:00:00
1405499 2025-12-09 20:05:00
1409114 2025-12-09 21:20:00
1444782 2025-12-10 09:40:00
1511780 2025-12-11 08:50:00
1512021 2025-12-11 08:55:00
1512262 2025-12-11 09:00:00
1559980 2025-12-12 01:30:00
1587454 2025-12-12 12:10:00